#cards {
  padding: 50px 20px;
  background-color: #121212; 
  color: #fff;
  text-align: center;
}

.title-cards {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: 'Arial Black', sans-serif;
  color: #e63946;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content-information-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: #1e1e1e;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: left;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #f1faee;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.4;
  color: #ccc;
}

@media (max-width: 1024px) {
  .content-information-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) { 
  .content-information-cards {
    grid-template-columns: 1fr !important; 
    gap: 30px;
  }

  .information-card {
    max-width: 320px; 
    margin: 0 auto;
  }
}